html, body {
  margin: 0;
  padding: 0;
  background: #2b2b2b;
  color: #bbbbbb;
  font-family: 'Nunito Sans', sans-serif;
  user-select: none;
}
div.main {
  height: calc(100vh - 20px);
  overflow-y: auto;
  overflow-x: hidden;
}
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
tr {
  border-bottom: 1px solid #4d4d4d;
}
tr:last-child {
  border-bottom: none;
}
th, td {
  padding: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
td:nth-child(2) {
  width: 20px;
}
td div {
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
}
td img {
  vertical-align: middle;
}
img {
  cursor: pointer;
}
select {
  border: 1px solid #3c3f41;
  background: #3c3f41;
  color: #bbbbbb;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0;
  text-align: right;
  background: #313335;
}

.footer__label {
  display: inline-block;
  font-size: 14px;
  padding: 0 5px;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background: #4c4c4c;
}

::-webkit-scrollbar-thumb:hover {
  background: #595959;
}